<div>
  <label>
    Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>

</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete" title="delete hero"
        (click)="delete(hero)">x</button>
    </li>
  </ul>
  
<!-- this component will now pass the state of "hero" when the class is selected to the child component. now all properties of the single "hero"
object will be available to the child as simply hero.property. -->